{% extends 'base.html' %}
{% load static %}

{% block header %}
<meta property="og:title" content="{{video.title}}">
<meta property="og:type" content="video">
<meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{video.file.url}}">
<meta property="og:video" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{video.file.url}}">
<meta property="og:video:type" content="video">
{% endblock %}

{% block content %}

<div name="clips" class="pt-5">
	<div class="mx-auto embed-responsive embed-responsive-16by9 w-75" style="max-width: 1024px;">
        <div class="d-flex justify-content-between bg-light">
            <h5 class="fw-bold"><u>{{video.title}}</u></h5>
            <h5 class="fst-italic fw-lighter">Clipped on {{video.date}} by {{video.uploader}}</h5>
        </div>
        <div class="pb-5">
            <video class="w-100 h-100" preload="metadata" controls>
                <source src="{{ video.file.url }}" type="video/mp4"></source>
            </video>
        </div>
        <p>{{vidEpoch}}</p>
	</div>
</div>

{% endblock %}