{% extends 'base.html' %}
{% load static %}

{% block content %}

<center><h1>Today's Date is {{time}}</h1><br><br></center>


<div name="clips">
	<div class="mx-auto embed-responsive embed-responsive-16by9 w-75" style="max-width: 1024px;">
	
		{% include 'page_navigator.html' with allVideoClips=videoClips %}<br>

		{% for video in videoClips %}
			<div class="d-flex justify-content-between bg-light">
				<h5 class="fw-bold"><u>{{video.title}}</u></h5>
				<h5 class="fst-italic fw-lighter">Clipped on {{video.date}} by {{video.uploader}}</h5>
			</div>
			<video class="pb-5 w-100 h-100" preload="metadata" controls>
				<source src="{{ video.file.url }}" type="video/mp4"></source>
			</video>
		{% endfor%}

		{% include 'page_navigator.html' with allVideoClips=videoClips %}

	</div>
</div>

{% endblock %}