<nav aria-label="Page navigation">
	{% if allVideoClips.has_other_pages %}
		<ul class="pagination justify-content-end">
		{% if allVideoClips.has_previous %}
			<li>
				<a class="page-link" href="?page={{ allVideoClips.previous_page_number }}">&laquo;Prev</a>
			</li>
		{% else %}
			<li class="page-item disabled">
				<a class="page-link">&laquo;</a>
			</li>
		{% endif %}
		{% for i in allVideoClips.paginator.page_range %}
			{% if allVideoClips.number == i %}
				<li class="page-item active">
					<a class="page-link">{{i}} <span class="sr-only"></span></a>
				</li>
			{% else %}
				<li>
					<a class="page-link" href="?page={{ i }}">{{ i }}</a>
				</li>
			{% endif %}
		{% endfor %}
		{% if allVideoClips.has_next %}
		<li><a class="page-link" href="?page={{ allVideoClips.next_page_number }}">Next&raquo;</a></li>
		{% else %}
		<li class="page-item disabled">
			<a class="page-link">&raquo;</a>
		</li>
		{% endif %}
	</ul>
	{% endif %}
</nav>